@import "../../variables.scss";

.header {
  display: flex;
  align-items: center;

  .header__themes {
    display: flex;
    align-items: flex-end;
    padding: 5px 10px;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;

    .header__themes__icon {
      padding: 1px 5px;
      font-weight: 500;
    }

    &:hover {
      color: $link-hover-color;
    }
  }

  .header__avatar {
    padding: 5px 20px 5px 5px;
  }
}
