@import "../../variables.scss";

.logo-wrapper {
  display: flex;
  margin: 5px 10px;

  .logo-wrapper__text {
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .logo-wrapper__image {
    padding: 9px 5px;
    color: $default-font-color;
    width: 20px;
    height: 20px;
  }
}
