@import "../../../variables.scss";
@import "../../../animations.scss";

.modal__content__comments {
  display: flex;
  align-items: center;
  margin: 10px 0px 0px;

  .modal__content__comments__icon--messagedots {
    color: $default-font-color;
    padding: 3px 5px 0px;
    font-size: 1.1em;
  }

  .modal__content__comments__count {
    font-size: 0.8rem;
    margin: 1.5px 3px;
  }
}

.modal__content__comments__list {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 0px 5px 0px 25px;

  .modal__content__comments__list__item {
    display: flex;
    align-items: center;
    background-color: $card-color;
    padding: 0px 0px 0px 10px;
    margin: 5px 0px;
    border-radius: 5px;

    .modal__content__comments__list__avatar {
      margin-right: 8px;
    }

    .modal__content__comments__list__text {
      display: flex;
      flex-grow: 1;
      background-color: $card-color;
      padding: 8px 10px;
      margin: 3px 0px;
      border-radius: 5px;
      font-size: 0.9rem;
      margin: 0px;

      &:hover {
        color: $item-hover-color;
      }

      .modal__content__comments__list__actions {
        margin-left: auto;

        .modal__content__comments__list__action {
          font-size: 0.8rem;
          padding: 0px 3px;
          animation: fadeIn 0.5s ease-in-out;

          &:hover {
            color: $item-hover-color;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .modal__content__comments__list__default {
    padding: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
