@import "../../../variables.scss";

.modal__header {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;

  .modal__header__icon--title {
    color: $default-font-color;
    padding: 5px;
    margin: 3px 0px;
  }

  .modal__header__title {
    display: flex;
    align-items: center;

    h3 {
      margin: 2.5px 5px;

      & p {
        margin: 2.5px 5px;
        color: $secondary-font-color;
        font-size: 0.9rem;
      }
    }

    .modal__header__priority {
      padding: 6px 0px 0px;
    }

    .modal__header__action {
      cursor: pointer;
      font-size: 1.4rem;
      padding: 5px;
      margin-left: auto;

      .modal__header__icon--close {
        color: $default-font-color;
      }
    }
  }

  .modal__header__subtitle {
    display: flex;
    align-items: center;
    margin-left: 35px;
  }
}
