@mixin action-icon {
  padding: 2px 0px 0px;
  font-size: 1rem;
  margin-right: 8px;
}

.modal__aside {
  margin: 10px 0px 0px;

  ul {
    list-style-type: none;
    padding: 5px;
    margin: 0px;

    li {
      padding: 2px 0px;
      margin: 2px 0px;

      .modal__aside__icon__move {
        @include action-icon;
      }

      .modal__aside__icon__delete {
        @include action-icon;
      }
    }
  }
}
