@import '../../variables.scss';

.textarea-container {
  width: 100%;

  .textarea-container__textarea {
    color: $default-font-color;
    background-color: $card-color;
    padding: 10px;
    margin: 5px 0px;
    height: 100px;
    border: none;
    resize: none;
    border-radius: 7px;
    font-family: inherit;
    font-size: 0.875em;
    box-sizing: border-box;
    outline: none;
  }

  .textarea--full {
    width: 100%;
  }
}