@import './variables.scss';

.app {
  .app__list-wrapper {
    display: flex;
  }
  
  .app__avatar {
    margin: 0px 25px 0px auto;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  background: $list-color;
  border-radius: 7px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.add-card-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

a {
  color: $default-font-color;
  font-size: 0.9em;
  text-decoration: none;
  padding: 0px 15px;

  &:hover {
    color: $link-hover-color;
  }
}

/* Large screens (769px and above) */
@media (min-width: 769px) {
  .list-container {
    height: 100%;
    width: 14%;
    padding: 5px 10px;
    margin: 10px 5px;
  }
  
  .list-container:first-child {
    margin-left: 10px;
  }

}

/* Medium screens (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .app__list-wrapper {
    flex-wrap: wrap;
  }

  .list-container {
    height: 100%;
    width: 25%;
    padding: 5px 10px;
    margin: 10px 5px;
  }
}

/* Small screens (up to 480px) */
@media (min-width: 769px) {
 
}

.link {
  cursor: pointer;

  &:hover {
    background-color: $card-btn-hover-color;
    border-radius: 7px;
  }
}
