$gradient-bg-color-left: #1a759f;
$gradient-bg-color-right: #99d98c;
$default-bg-color: #101204;
$list-color: $default-bg-color;
$badge-color: rgb(16 18 4 / 50%);
$card-color: #22272b;
$card-hover-color: #2b3137;
$card-btn-hover-color: $card-hover-color;
$button-color: #2e6f95;
$button-hover-color: #1e6091;
$default-font-color: #b6c2cf;
$secondary-font-color: #9cadbf;
$link-hover-color: #d2e0ef;
$item-hover-color: $link-hover-color;
$focus-element-color: #f5f5f5;
$priority-icon-high: #fd5959;
$priority-icon-medium: #f6f49d;
$priority-icon-low: #118df0;
$priority-icon-none: #adb5bd;
