$gradient-bg-color-left: #1a759f;
$gradient-bg-color-right: #99d98c;
$default-bg-color: #101204;
$list-color: $default-bg-color;
$badge-color: rgb(16 18 4 / 50%);
$card-color: #22272B;
$card-hover-color: #2b3137;
$card-btn-hover-color: $card-hover-color;
$button-color: #2e6f95;
$button-hover-color: #1e6091;
$default-font-color: #B6C2CF;
$secondary-font-color: #9cadbf;
$link-hover-color: #d2e0ef;
$icon-hover-color: $link-hover-color;
$priority-icon-high: #FD5959;
$priority-icon-medium: #F6F49D;
$priority-icon-low: #118DF0;