@import "../../variables.scss";

.card {
  width: 100%;
  background-color: $card-color;
  color: $default-font-color;
  margin: 5px 0px;
  padding: 10px;
  border-radius: 7px;
  list-style-type: none;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    background-color: $card-hover-color;
  }

  .card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .card__header__title {
      margin: 5px;
      font-size: 0.87rem;
      font-weight: 400;
    }
  }

  .card__content {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 8px;

    .card__content__icon {
      color: $default-font-color;
      font-size: 1em;
    }

    .card__content__count {
      font-size: 0.8em;
      padding: 3px 7px;
    }

    .card__content__avatar {
      margin: 0px 0px 0px auto;
    }
  }
}
