@import "../../variables.scss";

.list-header {
  display: flex;
  align-items: center;

  .list-header__title {
    color: $default-font-color;
    font-size: 0.95rem;
    font-weight: 500;
    padding: 10px;
  }

  .list-header__count {
    color: $default-font-color;
  }

  .list-header__icon {
    color: $default-font-color;
    margin-top: 3px;
    cursor: pointer;

    &:hover {
      color: $item-hover-color;
    }
  }

  .list-header__item:last-child {
    margin-left: auto;
  }
}
